@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

body h1{
    color: white;

}

body p{
    color: white;

}

* {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

#currentNumber {
    color: var(--cor-bg-principal);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(67, 130, 247);
}

button {
    height: 40px;
    width: 40px;
    border-radius: 25%;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(255, 252, 59);
    color: rgb(233, 148, 68);
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
}

#counter {
    display: flex;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16pt;
}
